/* Styles for desktop screens */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  height: 100%;
  font-family: 'PPNeueMontreal-Thin', sans-serif;
}

/* Root styles */
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
background-color: #f6f0ed;
}

/* Header styles */
.header {
  text-align: center;
  margin-top: 2pc;
  margin-bottom: 5pc;
  font-family: 'PPNeueMontreal-thin', sans-serif;
}

.header h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
}

/* Row styles */
.row {
  box-sizing: border-box;
  width: 100%;
  margin: 10px;
  padding: 10px;
  margin: auto;
}

/* Wheel container styles */
.wheel-container {
  padding: 10px;
  margin: auto;
  margin-bottom: 5pc;
}

/* Skills container styles */
.skills-container {
  margin-top: 10pc;
  margin-bottom: 5pc;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* Define the custom font */
@font-face {
  font-family: 'PPNeueMontreal-Thin';
  src: url('./fonts/PPNeueMontreal-Thin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
