/*establishes margins and padding for boxs */
*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
  }
/*styles and positions the body of the html */
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    display: block;
    justify-content: flex-start;
    min-height: 100vh;
    background-color: whitesmoke;
    color: black;
    }

/*postions h1 tag */
h1 {
    display: inline;
    justify-content: flex-start;
}


button :hover {
    text-shadow: none;
    color: #007bff;
}
/*styles/postions avatar picture */
.avatar {
    vertical-align: middle;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 20px;
    display:inline ;
}
/*styles and positions the aside sections */
aside {
    flex-direction: block;
    display: block;
    padding: 10px;
    border: 20px;
    position:relative 40px 30px
}
/* styles and positons <h> tags in the html*/
h2,h3,h4 {
color: #007bff;
text-decoration: solid;
text-transform: capitalize;
font-size: larger;
padding: 10px;
border: 15px;
text-align: start;
margin-top: 150px;
font-size: x-large;
}
/*styles and postions the <p> tag in html */
p {
    display: block;
    flex-direction: column;
    padding: 150px 50px;
    float: left;
    position: relative 50px;
    top: -80px;
    left: 130px;;
    bottom: 150px;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
/*makes html have smooth scrolling */
html {
    scroll-behavior: smooth;
}
/*positions the pictures in the html*/

/*styles img borders */
img {
    display: block;
    border-style: solid;
    border-color: #007bff;
    position: relative;
}
/*fixs page layout when changing the browser window size */
@media screen and (max-width: 1280px) {
    nav,
    main {
      flex-direction: column;
      position: static;
    }
    .picture1,
    .picture2,
    .picture3,
    .picture4 {
        position: static;
        display: block;
        width: 100%;
        height: auto;
    }

  }
  .top-right {
    position: absolute;
    top: 90px;
    right: 16px;
  }
  .container {
    position: relative;
    text-align: center;
    color: white;
    font-size: xx-large;
  }
  a {
      color: white;
  }
  .navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: center;
    padding: 0.5rem 1rem;
  
}